<a href="https://colab.research.google.com/github/SelectBillyFromC/Project699/blob/main/Project_699_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
R.version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          1.1
year           2021
month          08
day            10
svn rev        80725
language       R
version.string R version 4.1.1 (2021-08-10)
nickname       Kick Things

In [ ]:
getwd()

[1] "/content"

In [ ]:
library('tidyverse')

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [ ]:
csv <- read.csv('Final_Report_of_the_Asian_American_Quality_of_Life__AAQoL_.csv')
tib <- as_tibble(csv)
head(tib)

  Survey.ID Age Gender Ethnicity    Marital.Status Education.Completed
1   80314   NA         Vietnamese                  NA
2   60171   60  Male   Chinese      Married        13
3 1011601   23  Female Chinese      Single         16
4   50046   73  Female Chinese      Other          13
5   10494   29  Male   Asian Indian Single         17
6   10786   34  Female Asian Indian Married        17
  Household.Size No.One             Spouse             Children             ⋯
1 NA                                                                        ⋯
2  6             0                  0                  Living with children ⋯
3  3             0                  0                  0                    ⋯
4  1             Living with no one 0                  0                    ⋯
5  1             Living with no one 0                  0                    ⋯
6  3             0                  Living with spouse Living with children ⋯
  Other.Description..Non.city.based.Ethnic. Paper..Non.city.based.General.
1
2
3                                           No
4
5
6
  TV.Radio..Non.city.based.General. Website..Non.city.based.General.
1
2
3 No                                No
4
5
6
  Social.Networks..Non.city.based.General. People..Non.city.based.General.
1
2
3 No                                       Yes
4
5
6
  Other..Non.city.based.General. Other.Description..Non.city.based.General.
1
2
3 No
4
5
6
  Preferred.Type Concerns
1
2
3 email          traffic
4
5
6

Called the dataset here to env locally.. I'm not sure if we can mount Google Drive here. Let's see if the data stays in the dir.

In [ ]:
tib %>% count(Ethnicity)

  Ethnicity    n
1                2
2 Asian Indian 574
3 Chinese      639
4 Filipino     265
5 Korean       471
6 Other        144
7 Vietnamese   514

In [ ]:
tib %>% summarise(across(everything(), ~ sum(is.na(.))))

  Survey.ID Age Gender Ethnicity Marital.Status Education.Completed
1 0         9   0      0         0              37
  Household.Size No.One Spouse Children ⋯
1 17             0      0      0        ⋯
  Other.Description..Non.city.based.Ethnic. Paper..Non.city.based.General.
1 0                                         0
  TV.Radio..Non.city.based.General. Website..Non.city.based.General.
1 0                                 0
  Social.Networks..Non.city.based.General. People..Non.city.based.General.
1 0                                        0
  Other..Non.city.based.General. Other.Description..Non.city.based.General.
1 0                              0
  Preferred.Type Concerns
1 0              0

In [ ]:
tib1 <- tib[complete.cases(tib[ , 2:7]),]

summary_na <- function(v){
  if(!any(is.na(v))){
    res <- c(summary(v),"NA's"=0)
  } else{
    res <- summary(v)
  }
  return(res)
}

nrow(tib)
summary_na(tib1)

Removing NA values for metadata of each survey IDs

In [ ]:
lapply(select_if(tib1, is.numeric), function(x) all(x < 0))

Checking for noisy data. If any numeric variables contain negative observations, omit.

In [ ]:
as.data.frame(colnames(tib1))

    colnames(tib1)
1   Survey.ID
2   Age
3   Gender
4   Ethnicity
5   Marital.Status
6   Education.Completed
7   Household.Size
8   No.One
9   Spouse
10  Children
11  Grand.Children
12  Parent
13  Grandparent
14  Brother.Sister
15  Other.Relative
16  Friends
17  Other
18  Other.Description
19  Religion
20  Religion.Other
21  Full.Time.Employment
22  Part.Time.Employment
23  Self.Employed.Full.Time
24  Self.Employed.Part.Time
25  Student
26  Homemaker
27  Disabled
28  Unemployed
29  Retired
30  Other.Employement
⋮   ⋮
202 Public.Meeting
203 Council.Meeting
204 Contact.City.Official
205 City.Election
206 Focus.Group
207 Informed
208 City.Effort.Satisfaction
209 Paper..City.based.
210 TV.Radio..City.based.
211 Website..City.based.
212 Social.Networks..City.based.
213 People..City.based.
214 Other..City.based.
215 Other.Description..City.based.
216 Paper..Non.city.based.Ethnic.
217 TV.Radio..Non.city.based.Ethnic.
218 Website..Non.city.based.Ethnic.
219 Social.Networks..Non.city.based.Ethnic.
220 People..Non.city.based.Ethnic.
221 Other..Non.city.based.Ethnic.
222 Other.Description..Non.city.based.Ethnic.
223 Paper..Non.city.based.General.
224 TV.Radio..Non.city.based.General.
225 Website..Non.city.based.General.
226 Social.Networks..Non.city.based.General.
227 People..Non.city.based.General.
228 Other..Non.city.based.General.
229 Other.Description..Non.city.based.General.
230 Preferred.Type
231 Concerns

In [ ]:
(others <- (grep(c("Other"), colnames(tib1))))
c(colnames(tib1)[others], "Health.Info.Discription",  "Status.of.Ownership..Other.")

tib2 <- select(tib1, -c(c(colnames(tib1)[others], "Health.Info.Discription", "Status.of.Ownership..Other.", "Preferred.Type", "Concerns")))

 [1]  15  17  18  20  30  31  33  89 111 183 185 197 198 214 215 221 222 228 229

 [1] "Other.Relative"
 [2] "Other"
 [3] "Other.Description"
 [4] "Religion.Other"
 [5] "Other.Employement"
 [6] "Other.Employment.Description"
 [7] "Occupation.Other"
 [8] "Other.1"
 [9] "Concern.for.Others..AD."
[10] "Housing..Other."
[11] "Status.of.Ownership..Other."
[12] "Other.Transportation"
[13] "Other.Transportation.Description"
[14] "Other..City.based."
[15] "Other.Description..City.based."
[16] "Other..Non.city.based.Ethnic."
[17] "Other.Description..Non.city.based.Ethnic."
[18] "Other..Non.city.based.General."
[19] "Other.Description..Non.city.based.General."
[20] "Health.Info.Discription"
[21] "Status.of.Ownership..Other."

ERROR: ignored